@model eZdravje.Models.Patient
@{
    ViewData["Title"] = "Aktivacijska koda";
}
<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-bold">
                <div class="heading-title">
                    <h1 class="display-5">@ViewData["Title"]</h1>
                    <p>Spodnjo kodo dostavite k izbranemu pacientu za registracijo na storitev eZdravje.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: -130px">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center" style="margin: 30px">
                    <div class="col-12">
                        <h3 id="code-txt">
                            @ViewData["Code"]
                        </h3>
                      
                        <div>
                            <a asp-action="Index">Nazaj na paciente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
