@model eZdravje.Models.SpecialistCategory

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši</h1>

<h4>Ste prepričan, da želite izbrisati to specializacijo?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv specializacije
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Opis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
